.aboutme {
  height: 100vh;
  display: flex;
}
.aboutme .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about-left .mypic {
  width: 300px;
  height: 400px;
  border-radius: 30px;
}
.mypic img {
  border-radius: 30px;
}
.about-right {
  width: 60%;
}
.about-right .about-text {
  font-family: "Pretendard-Regular";
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #818181;
  letter-spacing: 1.5px;
}
.about-text .about-title {
  font-family: "YEONGJUSeonbiTTF";
  font-size: 25px;
  font-weight: 900;
  color: #000;
  text-shadow: 0.03em 0.03em 0 rgb(200, 255, 0);
}
.about-text p {
  padding-bottom: 15px;
}
.about-more {
  font-size: 16px;
  font-weight: 900;
  color: #696969;
  width: 40%;
  letter-spacing: 0.8px;
  display: flex;
}
.about-more a:nth-child(1) {
  margin-right: 30px;
}
.about-more a i {
  padding-right: 5px;
}
.about-more a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(102, 102, 102);
  transition: width 0.4s ease;
}
.about-more a:hover::after {
  width: 100%;
}
