.canvas {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* 마우스 스크롤 */
.can-mouse {
  opacity: 0.3;
  width: 30px;
  height: 50px;
  /* border-radius: ; */
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 35px;
  margin-left: -15px;
}
.mouse-wheel {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  width: 6px;
  border-radius: 500px;
  margin: 5px auto 0;
  margin-top: 5px;
}
.mouse-wheel::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #000000;
  height: 4px;
  left: 50%;
  margin-left: -2px;
  border-radius: 15px;
  animation: mouseScroll 1.5s 000ms infinite ease;
}
.arrows {
  position: relative;
  width: 26px;
  height: 20px;
  overflow: hidden;
  margin-top: -5px;
}

.arrows-container {
  overflow: hidden;
  position: relative;
}
.arrows {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: rotate(45deg);
  margin-left: -5px;
  content: "";
  opacity: 0;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-left-color: transparent;
  border-top-color: transparent;
  animation: arrowScroll 1.5s 500ms ease-in-out infinite;
}
@keyframes mouseScroll {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  50% {
    height: 8px;
  }
  100% {
    margin-top: 16px;
  }
}

@keyframes arrowScroll {
  from {
    margin-top: -2px;
    transform: rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg);
    opacity: 1;
  }
  to {
    margin-top: 10px;
    transform: rotate(45deg);
    opacity: 0;
  }
}
/* 배경 */
@keyframes flowText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.canvas-back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas-back::after {
  content: "Welcome PJB's Portpolio";
  font-family: "YEONGJUSeonbiTTF";
  opacity: 0.1;
  color: #707070;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  font-size: 150px;
  white-space: nowrap;
  animation: flowText 12s linear infinite;
}
/* 텍스트 효과 */
.canvas-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.canvas-title h1 {
  display: inline-block;
  font-weight: 900;
  font-family: "YEONGJUSeonbiTTF";
  font-size: 90px;
  color: #000;
  text-shadow: 0.03em 0.03em 0 rgb(200, 255, 0);
}
.canvas-title h2 {
  display: inline-block;
  color: #8a8a8a;
  font-family: "YEONGJUSeonbiTTF";
  font-size: 40px;
  text-shadow: 0.03em 0.03em 0 rgb(179, 179, 179);
}
@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
