@charset "utf-8";
.header {
  width: 100%;
  color: #ffefef;
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
  background-color: inherit;
  position: fixed;
  z-index: 9999;
}
.header:hover {
  background-color: rgba(white, white white, 0.9);
}
.header .inner {
  display: flex;
  justify-content: space-between;
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header ul li {
  padding: 0 12px;
}
.header .inner a {
  cursor: pointer;
}
.header .inner a:hover {
  color: #88b2ff;
}
