@charset "utf-8";
.header {
  width: 100%;
  color: #ffefef;
  font-size: 25px;
  font-weight: 900;
  padding: 25px 0;
  background-color: inherit;
  transition: all 0.4s;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
}
.header:hover {
  background-color: rgba(111, 111, 111, 0.3);
}
.header .inner {
  display: flex;
  justify-content: space-between;
}
.header .inner:hover {
  background-color: initial;
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header ul li {
  padding: 0 12px;
}
.header .inner a {
  cursor: pointer;
}
.header .inner a:hover {
  color: #c3d8ff;
}
