.header {
  background-color: #fff;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s cubic-bezier(042, 0, 0, 1);
  box-shadow: 0 2px 4px -1px #0000000f;
  font-family: "Pretendard-Regular";
  position: fixed;
  z-index: 10;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  cursor: pointer;
}
.brand:hover {
  color: #3b82f6;
}
.brand strong {
  color: #3b82f6;
}
.menu {
  display: flex;
  align-items: center;
  height: 64px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.menu li {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.menu li a {
  color: #000;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.05rem;
  transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
  padding: 0 1rem;
  z-index: 1;
}
.menu li a.active {
  color: #fff;
}
.menu-bar {
  display: inline-block;
  transform: rotate(180deg);
  cursor: pointer;
  margin-left: 20px;
}
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  background-color: #000;
  margin: 3px 0;
  border-radius: 30px;
  transition: all 0.8s ease;
}
.bar2 {
  width: 17px;
}
.menu-bar.open .bar1 {
  transform: rotate(45deg) translateX(10px);
}
.menu-bar.open .bar2 {
  opacity: 0;
}
.menu-bar.open .bar3 {
  transform: rotate(-45deg) translateX(10px);
}
.menu li a.active::before {
  background-color: #3b82f6;
  z-index: -1;
  transform: translateY(0%);
}
.menu li a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #3b82f6;
  transform: translateY(100%);
  transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
}
.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #3b82f6;
  transition: all 0.1s ease-in-out;
}
.menu li a:hover::after {
  background-color: #3b82f6;
  width: 100%;
  height: 4px;
}
@media screen and (max-width: 700px) {
  .header-menu .menu li a {
    font-size: 14px;
    padding: 0.6rem;
  }
}
@media screen and (max-width: 480px) {
  .header .inner {
    display: flex;
    justify-content: center;
    height: 60px;
  }
  .header-menu {
    display: none;
  }
}
