.work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work-title {
  margin-bottom: 50px;
  background: linear-gradient(to top, #ffe680 50%, transparent 20%);
}
.work-title h2 {
  font-size: 80px;
  font-family: "YEONGJUSeonbiTTF";
  color: #c3d8ff;
  text-shadow: 0.03em 0.03em 0 rgb(0, 0, 0);
}
.work-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-info .swiper {
  width: 80%;
  height: 100%;
}
.slide-text {
  padding: 18px 10px;
}
.swiper-slide span {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.swiper-slide p {
  margin: 10px 0;
  color: #646464;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.swiper-slide a{
  color: #000000;
  font-weight: 800;
}
.swiper-slide a:hover{
  color: #646464;
}
.swiper-slide i{
  padding-right: 5px;
}
.swiper-slide img {
  border-radius: 40px;
  border: 1px solid #ccc;
}
.work-info .swiper-button-next,
.work-info .swiper-button-prev{
  top: 50%;
  bottom: 0;
}
.swiper-button-prev i,
.swiper-button-next i {
  font-size: 40px;
  border-radius: 50%;
  padding: 5px 10px;
  color: #000;
}
.swiper-button-prev i:hover,
.swiper-button-next i:hover {
  font-size: 48px;
  /* border: 1px solid #646464; */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
}
