.work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work-title {
  margin-bottom: 50px;
  background: linear-gradient(to top, #ffe680 50%, transparent 20%);
}
.work-title h2 {
  font-size: 80px;
  font-family: "YEONGJUSeonbiTTF";
  color: #c3d8ff;
  text-shadow: 0.03em 0.03em 0 rgb(0, 0, 0);
}
.work-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-info .swiper {
  width: 90%;
  height: 100%;
}
.slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  font-family: "Pretendard-Regular";
}
.swiper-slide {
  position: relative;
}
.work-img-info {
  position: relative;
  left: -15%;
}
.swiper-slide span {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.swiper-slide p {
  margin: 10px 0;
  color: #3b82f6;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.swiper-slide a {
  color: #000000;
  font-weight: 800;
}
.swiper-slide a:hover {
  color: #646464;
}
.swiper-slide img {
  border-radius: 40px;
  height: auto;
  cursor: pointer;
  margin: 0 auto 15px auto;
}
.slide-img {
  position: relative;
}
.slide-img:after {
  position: absolute;
  top: 15%;
  left: 8%;
  border-radius: 30px;
  display: block;
  content: "";
  width: 435px;
  height: 400px;
  z-index: -1;
  background-color: rgba(240, 240, 240, 0.3);
}
.work-info .swiper-button-next,
.work-info .swiper-button-prev {
  top: 50%;
  bottom: 0;
  z-index: 1;
}
.swiper-button-prev i,
.swiper-button-next i {
  font-size: 40px;
  border-radius: 50%;
  padding: 5px 10px;
  color: #000;
}
.swiper-button-prev i:hover,
.swiper-button-next i:hover {
  font-size: 48px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
}
/* 더보기 버튼 */
:root {
  --btn-bg: #c3d8ff;
}
.more-btn {
  position: relative;
  padding: 12px 25px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px 0 0 #000;
}
.more-btn::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 120%;
  height: 265%;
  background: var(--btn-bg);
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
  transition: 0.6s;
}
.more-btn:hover {
  background: transparent;
}
.more-btn:hover::before {
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
}
